/* .test {
    height: 100px;
    font-size: large;
    background-color: #e5f7f7;
    background-color: ;

} */

.test {
    font-size: 10px;
    background-color: #fa7268;
    box-shadow: 2px 2px 2px ;
    font-weight: bold;
}